/cakephp

/app/config/*.yml
/app/tmp/cache/cake_*
/app/tmp/cache/persistent/cake_*
/app/tmp/cache/models/cake_*
/app/tmp/cache/views/cake_*
/app/tmp/logs/*.log

/app/webroot/files/**/*.*
/app/webroot/img/**/*.*
/app/webroot/img/plazas/**/*.*

/app/config/config.php

.hg*
