
body{font-family:Helvetica;font-color:#333;}
p {font-size:13px;color:#666;; }
a {color: #006699;font-weight:bold;}
.wrap{width:952px;margin:auto;position:relative;}
.header1{background-color:#999;height:49px;background:#DDD url("/img/fondo_botonera.png") repeat-x;}
#header1_menu{padding-top:8px;margin-left:120px;clear:both;}
#header1_menu li{float:left;margin-left:15px;padding-right:10px;border-right:1px solid #000;}
.header2{background:#fff url(/img/bg_header2.png) repeat-x;height:336px;}
.header2_1{height:58px;font-size:14px;color:#fff;font-size:20px;width:800px;margin-left:100px;padding-top:15px;line-height:25px;}
.header2_2{height:132px;}
#logo1{position:absolute;left:0px;top:0px;width:97px;height:108px;}
#logo2{position:absolute;right:0px;top:0px;margin-top:10px;}
#plaza_container{height:244px;width:952px;margin-top:12px;text-align:center;}
#plaza_suenos_menu{width:870px;height:80px;margin:0 auto 30px;background-color:#FF9933;position:relative;}
#plaza_suenos_menu .title{left:20px;position:absolute;top:28px;width:200px;color:#FFF;font-weight:bold;}
.jcarousel-skin-tango{height:100px;width:500px;position:absolute;right:150px;}
#columns3{height:318px;margin-bottom:25px;}
#columns3 div.column3{float:left;}
#columns3 div.column3.second{margin-left:40px;margin-right:40px;width:310px;}
div.column3{width:280px;height:318px;background-color:#AAA;}
#main_content h2 { color:#333; font-size: 15px;padding: 5px 0; margin-bottom:10px; border-bottom:1px dotted #aaa; }
#main_content h3 { color:#fff; font-size: 15px; padding: 5px 15px 2px 15px;}
#content { padding: 25px 0; }
#nos_ayudan{height:250px;}
#nos_ayudan .title{line-height:60px;font-size:22px;}
#nos_ayudan .inst_ayuda{float:left;margin:0 30px 20px 0;}
.inst_ayuda_container{margin-left:60px;width:892px;}
.inst_ayuda{width:58px;height:58px;background-color:#BBB;}
#footer{height:100px;background:#fff url(/img/footer.png) repeat-x;}
#up img{width:67px;height:65px;position:absolute;top:15px;}
.es_de{position:absolute;right:0;top:25px;text-align:right;font-size:14px;color:#fff;}
#footer_menu { text-align:right; }
#footer_menu ul{position:absolute;right:0;top:60px;font-size:14px;}
#footer_menu li{float:left;padding:0 5px;border-right:1px solid #fff;}
#footer_menu li.last { border: 0; }
#footer_menu li a{text-decoration:none;display:block; float:left;padding:0 5px;}
#donar{position:absolute;top:128px;right:63px;}
#metodo_pago{position:absolute;right:51px;top:245px;}
.header2_2 ul li{float:left;}
#votacion_container{height:450px;}
#votacion_container_left{width:300px;float:left;padding:20px;}
#votacion_container_right{width:612px;float:right;margin-top:20px;}    
#votacion_container_full { margin: 20px 0 0 60px; } 
#votacion_container_right div.marco {float: left; background:url(/img/caja_fotos_home.png) no-repeat; width:204px;height:170px;}
#votacion_container_full div.marco {float:left;background:url(/img/caja_votacion.png) no-repeat; width:248px;height:261px;margin:10px;} 

.votar_button{background:url(/img/btn_invitar_votacion.png) no-repeat;width:257px;height:40px;padding:9px 0 5px 9px;margin-top:25px;}
.votar_button a{color:#fff;font-size:13px;text-decoration:underline;}
#votacion_container_left{line-height:1.4em;font-size:0.9em;}
#votacion_container_left p{margin-bottom:1em;}

.clip {position: relative;}   
.clip p {color: #fff; margin-left:15px; font-size: 85%;}
.clipwrapper_flicker{position:relative;width:58px;height:58px;}
.clip_flicker{position:absolute;clip:rect(0px 58px 58px 0px);top:0px;left:0px;}
.clipwrapper_flicker img{height: 58px;}
#votacion_container_right .plaza_img {background:#fff;padding:3px; position: absolute;top:4px;left:11px;}     
#votacion_container_right .plaza_img_inner img{width:175px;height:145px;padding:0; margin:0;}
#votacion_container_right .plaza_thumb img { width: 45px; height:45px;padding:0; margin:0;}   
#votacion_container_right .plaza_thumb { position:absolute;bottom:5px;right:0px;margin-right:10px;}
#votacion_container_full .plaza_img {background:#fff;padding:3px; position: absolute;top:40px;left:11px;}     
#votacion_container_full .plaza_img_inner img{width:220px;height:165px;padding:0; margin:0;}
#votacion_container_full .plaza_thumb img { width: 45px; height:45px;padding:0; margin:0;}   
#votacion_container_full .plaza_thumb { position:absolute;top:10px;right:5px;}  
.plaza_group{display:none;}
.vote_box { background:#83cdf4;position:relative;display:block;}  
#votacion_container_right .vote_box { width:179px;height:140px;top:5px;left:11px;padding:5px 2px;}
#votacion_container_full .vote_box {width: 225px;height:202px;left:11px;top:5px;padding:5px 2px;}
.vote_dialog { background:url(/img/vote_bubble.png) no-repeat;height: 57px; padding:5px 5px 5px 0; font-size:12px;width:170px;} 
.vote_dialog_long { background:url(/img/vote.png) no-repeat;height: 57px; padding:5px 5px 5px 0; font-size:12px;width:170px;} 
.vote_dialog p { color: #333; }
.vote_dialog a {color: #333; font-weight:bold; font-size:125%;display:block;}                     
.vote_form {position:relative;}
#votacion_container_full .vote_form div.input input { width: 215px;}
#votacion_container_right .vote_form div.input input { width: 170px;}
.vote_form div.input input { font:14px;color:#333;}    
.vote_bottom { padding-left:20px;margin-top:95px;position: absolute; left:3px;top:127px;display:block;background:url(/img/);}  

.vote_bottom ul { display:inline;float:left;} 
.vote_bottom ul li { float:left; display: block;padding:0 20px 0 0;}
.vote_bottom ul li a {width:26px;height:26px;display:block;background:url(/img/ico_escritorio.png) no-repeat; }  
.vote_bottom ul li a span { display:none;}

#plazas_list { }

.vote_info { float: left;background: url(/img/bt-line.png) no-repeat 0 100;width:33px;height: 25px;display:none}
/* Forms  */
.input { display: block;margin: 0 0 5px 0;position: relative; }
label.label-over { position:absolute;top:3px;left:2px;color: #333;padding:3px;font-size:14px;display:block;font-weight:bold;}    

.input input.long { width: 500px;}
div.input label{position:absolute:top:5px;left:5px;color:#333;font-size:14px;}
div.input input{color:#333;}
div.input textarea{width:350px;height:100px;}
div.required label:after{content:'*';color:red;}
div.error input{padding-right:5px;background:red url(/img/exclamation.png) no-repeat 100% 50%;}
/** menu **/ 
#top_menu{width:750px;margin:0 auto;padding:10px;}
#top_menu img{padding:0 10px;}
ul.menu{font-family:Helvetica;display:block;list-style:none;height:32px;}
ul.menu li{float:left;border-left:1px solid #999;margin-left:5px;}
ul.menu li.last{border-right:1px solid #999;}
ul.menu li a{color:#006699;text-decoration:none;display:inline-block;text-align:center;padding:10px 20px;}
ul.menu li a:hover{color:#0099ff;text-decoration:underline;}
/** END OF HEADER **/ 
#logos h2{font-size:15px;color:#333;padding-bottom:5px;border-bottom:1px dotted #333;}
#logos img{padding:15px;}   
.social_connect {height: 25px;margin-top:5px;padding: 5px 5px;color: #fff;font-weight:bold;}  
.social_icons li { float:left;margin-left:10px;}     

.contact { width: 62px; height: 146px; position: fixed; right: 0; top: 100px;background:url(/img/contact_us.png) no-repeat;}
a.contact span { border:1px solid #666;display:none;}      
                                     
    
div.pagination { padding-left:200px;margin:10px 0;display:block;}
a.number { color:#ff9900;font-size:20px; margin: 0 10px;}  
span.current { color:#ff9900;font-size:25px; margin: 0 10px; }


.ui-effects-transfer { border: 1px dashed #333; }

#message_hint{margin:0 auto;position:fixed;top:0px; left:0px;right:0px;z-index:1000;display:none;background: #56bbea;}
.msg-error,.msg-success,.msg-attention,.msg-info{padding:0;margin:0;padding-left:17px;padding:10px;position:relative;font-weight:bold;}
.remove-btn{position:absolute;top:0;right:17px;top:10px;padding-top:15px;padding-right:20px;background:url('/img/btn-close.png') no-repeat center right;font-weight:bold;color:#333 !important;}
.remove-btn span { display:none; }
.remove-btn:hover{color:#666 !important;}
.msg-error{color:#cc3333;}
.msg-success{color:#6eb244;}
.msg-attention{color:#c0a443;border:1px solid #c0a443;}
.msg-info{color:#369fb4;border:1px solid #369fb4;}

.font1 { color:#56bbea; font-weight:bold;font-size:18px;}
.font2 { color:#333; font-weight:bold;font-size:18px; }     
.clear { clear:both;}   






