body{font-family:Helvetica;font-color:#333;}
p{font-size:12pt;color:#333;line-height:1.4em;}
a{color:#006699;font-weight:bold;}
address{font-style:normal;font-size:12pt;color:#333;}
.wrap{width:952px;margin:auto;position:relative;}
.header1{background-color:#999;height:49px;background:#DDD url("/img/fondo_botonera.png") repeat-x;}
#header1_menu{padding-top:8px;margin-left:120px;clear:both;}
#header1_menu li{float:left;margin-left:15px;padding-right:10px;border-right:1px solid #000;}
.header2{background:#fff url(/img/bg_header2.png) repeat-x;height:336px;}
.header2_1{height:58px;font-size:14px;color:#fff;font-size:20px;width:800px;margin-left:100px;padding-top:15px;line-height:25px;}
#logo1{position:absolute;left:0px;top:0px;width:97px;height:108px;}
#logo2{position:absolute;right:0px;top:0px;margin-top:10px;}
#plaza_container{height:244px;width:952px;margin-top:12px;text-align:center;}
#plaza_suenos_menu{width:870px;height:80px;margin:0 auto 30px;background-color:#FF9933;position:relative;}
#plaza_suenos_menu .title{left:20px;position:absolute;top:28px;width:200px;color:#FFF;font-weight:bold;}
.jcarousel-skin-tango{height:100px;width:500px;position:absolute;right:150px;}
#columns3{height:318px;margin-bottom:25px;}
#columns3 div.column3{float:left;}
#columns3 div.column3.second{margin-left:40px;margin-right:40px;width:310px;}
div.column3{width:280px;height:318px;background-color:#AAA;}
h2.title{color:#333;font-size:15pt;padding:5px 0;margin-bottom:10px;border-bottom:1px dotted #aaa;}      
h2 span { font-size: 8pt;display:block;padding: 5px 0 0 5px;}
#main_content h3{color:#fff;font-size:15px;padding:5px 15px 2px 15px;}
#content{padding:25px 0;}
#nos_ayudan{height:250px;}
#nos_ayudan .title{line-height:60px;font-size:22px;}
#nos_ayudan .inst_ayuda{float:left;margin:0 30px 20px 0;}
.inst_ayuda_container{margin-left:60px;width:892px;}
.inst_ayuda{width:58px;height:58px;background-color:#BBB;}
#footer{height:100px;background:#fff url(/img/footer.png) repeat-x;}
#up img{width:67px;height:65px;position:absolute;top:15px;}
.es_de{position:absolute;right:0;top:25px;text-align:right;font-size:14px;color:#fff;}
#footer_menu{text-align:right;}
#footer_menu ul{position:absolute;right:0;top:60px;font-size:14px;}
#footer_menu li{float:left;padding:0 5px;border-right:1px solid #fff;}
#footer_menu li.last{border:0;}
#footer_menu li a{text-decoration:none;display:block;float:left;padding:0 5px;}
#donar{position:absolute;top:128px;right:63px;}
#metodo_pago{position:absolute;right:51px;top:245px;}
.header2_2 ul li{float:left;}
#votacion_container{height:450px;}
#votacion_container_left{width:300px;float:left;padding:20px;}
#votacion_container_right{width:612px;float:right;margin-top:20px;}
#votacion_container_full{margin:20px 0 0 60px;}
#votacion_container_right div.marco{float:left;background:url(/img/caja_fotos_home.png) no-repeat;width:204px;height:170px;}
#votacion_container_full div.marco{float:left;background:url(/img/caja_votacion.png) no-repeat;width:248px;height:261px;margin:10px;}
.votar_button{background:url(/img/btn_invitar_votacion.png) no-repeat;width:257px;height:40px;padding:9px 0 5px 9px;margin-top:25px;}
.votar_button a{color:#fff;font-size:13px;text-decoration:underline;}
#votacion_container_left{font-size:0.9em;}
#votacion_container_left p{margin-bottom:1em;}
.clip{position:relative;}
.clip p{color:#fff;margin-left:15px;font-size:85%;}
.clipwrapper_flicker{position:relative;width:58px;height:58px;}
.clip_flicker{position:absolute;clip:rect(0px 58px 58px 0px);top:0px;left:0px;}
.clipwrapper_flicker img{height:58px;}  
#votacion_container_right .plaza_img{background:#fff;padding:3px 3px 0 3px;position:absolute;top:4px;left:11px;}
#votacion_container_right .plaza_img_inner img{width:175px;height:145px;padding:0;margin:0;}
#votacion_container_right .plaza_thumb img{width:45px;height:45px;padding:0;margin:0;}
#votacion_container_right .plaza_thumb{position:absolute;bottom:5px;right:0px;margin-right:10px;}
#votacion_container_full .plaza_img{background:#fff;padding:3px 3px 0 3px;position:absolute;top:45px;left:11px;}
#votacion_container_full .plaza_img_inner img{width:220px;height:165px;padding:0;margin:0;}
#votacion_container_full .plaza_thumb img{width:45px;height:45px;padding:0;margin:0;}
#votacion_container_full .plaza_thumb{position:absolute;top:25px;right:5px;}
.plaza_group{display:none;}
.vote_box{background:#83cdf4;position:relative;display:block;}   
.vote_box a.close { margin: 0 5px;width:16px;height:16px;float:right;display:block;cursor:pointer;background:url(/img/close-btn.png) no-repeat;}  
.vote_box a.close span { display: none; }
#votacion_container_right .vote_box{width:179px;height:140px;top:5px;left:11px;padding:5px 2px;}
#votacion_container_full .vote_box{width:225px;height:202px;left:11px;top:0px;padding:5px 2px;}
.vote_dialog{background:url(/img/vote_bubble.png) no-repeat;height:57px;padding:5px 5px 5px 0;font-size:12px;width:170px;}
.vote_dialog_long{background:url(/img/vote.png) no-repeat;height:57px;padding:5px 5px 5px 0;font-size:12px;width:170px;}
.vote_dialog p{color:#333;}
.vote_dialog a{color:#333;font-weight:bold;font-size:125%;display:block;}
.vote_form{position:relative;}
#votacion_container_full .vote_form div.text input, #votacion_container_full .vote_form div.password input{width:215px;}
#votacion_container_right .vote_form div.input input{width:170px;}
.vote_form div.input input{font:14px;color:#333;}
.vote_bottom{padding-left:20px;margin-top:95px;position:absolute;left:3px;top:127px;display:block;background:url(/img/);}
.vote_bottom ul{display:inline;float:left;}
.vote_bottom ul li{float:left;display:block;padding:0 20px 0 0;}
.vote_bottom ul li a{width:26px;height:26px;display:block;background:url(/img/ico_escritorio.png) no-repeat;}
.vote_bottom ul li a span{display:none;}
#plazas_list{}
.vote_info{float:left;background:url(/img/bt-line.png) no-repeat 0 100;width:33px;height:25px;display:none} 
.hint { font-size:9px;margin: 0 5px;}
/* Forms */
.text, .file, .password, .textarea{display:block;margin:0 0 5px 0;position:relative;}   
label { margin:5px 0;color:#333;font-size:14px;font-weight:bold;}
label.label-over{position:absolute;top:3px;left:2px;padding:3px;;margin:0;display:block;} 
.input input.short{width:150px !important;} 
.input input.med{width: 250px !important;}
.input input.long{width:500px;}
div.input label{position:absolute:top:5px;left:5px;color:#333;font-size:14px;}
div.input input{color:#333;}
div.input textarea{width:350px;height:100px;}
div.required label:after{content:'*';color:red;}  
input.form-error{float:left;}
div.error .error-message{margin-left:10px;padding-left:10px;padding:2px;font-size:12px;border:thin solid #8b0000;background:#ffc0cb;margin-right:100px;}
/** menu **/ 
#top_menu{width:750px;margin:0 auto;padding:10px;}
#top_menu img{padding:0 10px;}
ul.menu{font-family:Helvetica;display:block;list-style:none;height:32px;}
ul.menu li{float:left;border-left:1px solid #999;margin-left:5px;}
ul.menu li.last{border-right:1px solid #999;}
ul.menu li a{color:#006699;text-decoration:none;display:inline-block;text-align:center;padding:10px 20px;}
ul.menu li a:hover{color:#0099ff;text-decoration:underline;}
/** END OF HEADER **/ 
#logos h2{font-size:15px;color:#333;padding-bottom:5px;border-bottom:1px dotted #333;}
#logos img{padding:15px;}
.social_connect{height:35px;margin-top:5px;padding:10px 5px 0 5px;color:#fff;font-weight:bold;position:relative;} 
.social_connect ul { display:block;}
.social_connect ul li { float: left;margin:0;}
.social_connect ul li a{ color: #fff; text-decoration:none;font-size:14px;float:left;display:block;}
.social_connect ul li li { display:none;}  

.social_icons li{float:left;margin-left:10px !important;}
.contact{width:62px;height:146px;position:fixed;right:0;top:100px;background:url(/img/contact_us.png) no-repeat;}
a.contact span{border:1px solid #666;display:none;}
div.pagination{padding-left:200px;margin:10px 0;display:block;}
a.number{color:#ff9900;font-size:20px;margin:0 10px;}
span.current{color:#ff9900;font-size:25px;margin:0 10px;}
.ui-effects-transfer{border:1px dashed #333;}
#message_hint{margin:0 auto;position:fixed;top:0px;left:0px;right:0px;z-index:1000;display:none;background:#56bbea;}
.msg-error,.msg-success,.msg-attention,.msg-info{padding:0;margin:0;padding-left:17px;padding:10px;position:relative;font-weight:bold;}
.remove-btn{position:absolute;top:0;right:17px;top:10px;padding-top:15px;padding-right:20px;background:url('/img/btn-close.png') no-repeat center right;font-weight:bold;color:#333 !important;}
.remove-btn span{display:none;}
.remove-btn:hover{color:#666 !important;}
.msg-error{color:#cc3333;}
.msg-success{color:#6eb244;}
.msg-attention{color:#c0a443;border:1px solid #c0a443;}
.msg-info{color:#369fb4;border:1px solid #369fb4;}
.font1{color:#56bbea;font-weight:bold;font-size:18px;}
.font2{color:#333;font-weight:bold;font-size:18px;}
.clear{clear:both;} 


.account {
	width: 725px;
	float: left; 
	position:relative;
} 


#right-col { width:220px; float: left;}  
#right-col li { display: block;}
#right-col li a { display: block; font-size: 13px;}      


#searchform {
	margin: 2px 0;
	float:right;
}                 

#searchform .input { 

}   

#searchform .input input {  
	width: 225px;  
	color: #333;
}    


span.autocomplete-indicator {
	float: right;
	width: 16px;
	height: 11px;
	margin: 0;
	padding: 0!important;  
	display:none;
} 


.autocomplete {
	z-index: 1000;
	position: absolute;
	background: #fff;
	border: 1px solid #333;
	border-top: 0; 
	font-size: 11px;
	color: #333;
	padding: 0;
	margin: 1px 0 0 0;
}                     

.autocomplete ul { margin: 0; padding: 0; list-style: none;}
.autocomplete ul li.selected { background-color: #83CDF4; color: #fff;}
.autocomplete ul li { padding: .5em .5em; min-height: 32px; cursor:pointer; text-align: left; color: #2f2f2f; line-height: 1.3em; border-bottom: 1px solid #eee;} 
.autocomplete ul li img { float: left; margin: 0 5px;}
.autocomplete ul li h3 { display: block; float: left;} 
.autocomplete ul li.selected h3 { color: #fff;} 
.autocomplete ul li p { font-size: 10px;}      






.bubble {
	clear: both;

	width: 600px;
	background: #56BBEA;
	position: relative;
	z-index: 90;
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  	-khtml-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	
}               

.rectangle {
	background: #FF9900;
	height: 45px;
	width: 630px;
	position: relative; 
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	left:-15px;
	top: 10px;
	float: left;
	z-index: 100;                        
}  

.rectangle h2 {
	font-size: 20px; 
	margin: 0 0 0 10px;
	color: #fff;
	padding: 0;
	padding-top: 5px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	text-align: left;	
	font-style: italic; 
}       
            


.triangle-l {
	border-color: transparent #FF9900 transparent transparent;
	border-style:solid;
	border-width:15px;
	height:0px;
	width:0px;
	position: relative;
	left: -30px;
	top: 40px;
	z-index: -1; /* displayed under bubble */
}

.triangle-r {
	border-color: transparent transparent transparent #FF9900;
	border-style:solid;
	border-width:15px;
	height:0px;
	width:0px;
	position: relative;
	left: 600px;
	top: 10px;
	z-index: -1; /* displayed under bubble */
}
  

.info {
	padding: 10px 15px 15px 15px;
}

.info h2 {
	font-size: 20px;
}   

.info p {
	font-size:85%;
}
                 
.info .marco {
	float: left;   
	margin: 0 10px 0 0;
}   

.info .plaza_img_inner {
	background: #fff; 
	padding: 3px 3px 0 3px;   
}      

.info .plaza_vote {
	margin: 10px 0 0 25px;
} 


.login-join, .current-user,.current-user dl,.settings-menu {
	float: left; 
	padding: 2px 0;
}

.login-join {
	padding: 5px 0;
} 

.login-join ul li {  
	padding: 5px 5px;
	display: block;
	float: left;
}   
.login-join li a {
	display: block;
	float: left;
	padding: 3px 2px 0px 2px;
}

.current-user a:hover {
	text-decoration: underline;
}
.current-user dl {
	padding: 0px 0;
	position: relative;
	text-align: center;
	top: 0px; 	 
	margin: 0 10px;
}
.current-user dt {
	color: #fff;
	font-size: .9em;
	font-weight: bold;   
}
.current-user dd a {
	color: #fff;
	font-size: .8em;
	font-weight: normal;      
}
          
.current-user-thumbnail {
	border: 1px solid #333;
	float: left;
	height: 24px;
	margin-top: 2px;
	width: 24px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.settings-menu { 
	margin-right: 10px;
	position: relative;
	top: 0px;
	width: 53px;
	z-index: 999;
}     

.settings-menu-top {   
	background-color: #56bbea;
	display: block;
	padding: 0 22px 0 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;  
}
.settings-menu-top .arrow {
	background: url(http://cdn2.diggstatic.com/img/sprites/global.dda634d0.png) no-repeat -159px -48px;
	display: block;
	height: 4px;
	margin: 16px auto 0;
	width: 7px; 
}
.settings-menu-toggle {
	float: right;
	height: 30px;
	margin-right: -22px;
	width: 22px;
}
.settings-menu-dropdown {
	background-color: #56bbea;
    display:none;
	padding: 5px 0 5px;
	position: absolute;
	width: 140px; 
	border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	-webkit-border-radius: 0 5px 5px 5px;
}
.settings-menu-dropdown li a {
	color: #333;   
	font-weight: normal;
	display: block;
	font-size: .8em !important;
	padding-left: 20px;
	padding-right: 10px;
}
.settings-menu-dropdown li {
margin-bottom: 5px !important;
}    

.open .arrow {
background-position: -159px -56px;
}
.open .settings-menu-dropdown {
	display: block;
}
.open .settings-menu-top {
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}
#header-settings, #header-logout {
	color: #fff;
	font-size: .9em !important;
}
.settings-menu .last {
	border-top: 1px solid #fff;
	margin: 10px 0 4px 0;
	padding-top: 4px;
}     



.profile_image {
	position: absolute;
	top:10px;
	right:10px;
}





