@font-face{font-family:Helvetica-Light;src:url('/css/public/fonts/Helvetica-Light.eot');src:url('/css/public/fonts/Helvetica-Light.woff') format("woff"),
url('/css/public/fonts/Helvetica-Light.ttf') format("truetype");}
body{font-family:Helvetica-Light;font-color:#333;}
.wrap{width:952px;margin:auto;position:relative;}
.header1{background-color:#999;height:49px;background:#DDD url("/img/fondo_botonera.png") repeat-x;}
#header1_menu{padding-top:8px;margin-left:120px;clear:both;}
#header1_menu li{float:left;margin-left:15px;padding-right:10px;border-right:1px solid #000;}
.header2{background:#fff url(/img/bg_header2.png) repeat-x;height:336px;}
.header2_1{height:58px;font-size:14px;color:#fff;font-size:20px;width:800px;margin-left:100px;padding-top:15px;line-height:25px;}
.header2_2{height:132px;}
#logo1{position:absolute;left:0px;top:0px;width:97px;height:108px;}
#logo2{position:absolute;right:0px;top:0px;margin-top:10px;}
#plaza_container{height:244px;width:952px;margin-top:12px;text-align:center;}
#plaza_suenos_menu{width:870px;height:80px;margin:0 auto 30px;background-color:#FF9933;position:relative;}
#plaza_suenos_menu .title{left:20px;position:absolute;top:28px;width:200px;color:#FFF;font-weight:bold;}
.jcarousel-skin-tango{height:100px;width:500px;position:absolute;right:150px;}
#columns3{height:318px;margin-bottom:25px;}
#columns3 div.column3{float:left;}
#columns3 div.column3.second{margin-left:40px;margin-right:40px;width:310px;}
div.column3{width:280px;height:318px;background-color:#AAA;}
#main_content h2 { color:#333; font-size: 15px;padding: 5px 0; margin-bottom:10px; border-bottom:1px dotted #aaa; }
#main_content h3 { color:#fff; font-size: 15px; padding: 5px 15px;}
#content { padding: 25px 0; }
#nos_ayudan{height:250px;}
#nos_ayudan .title{line-height:60px;font-size:22px;}
#nos_ayudan .inst_ayuda{float:left;margin:0 30px 20px 0;}
.inst_ayuda_container{margin-left:60px;width:892px;}
.inst_ayuda{width:58px;height:58px;background-color:#BBB;}
#footer{height:100px;background:#fff url(/img/footer.png) repeat-x;}
#up img{width:67px;height:65px;position:absolute;top:15px;}
.es_de{width:600px;position:absolute;right:0;top:20px;text-align:right;font-size:14px;color:#FFF;}
.es_de a{text-decoration:none;}
#footer_menu{width:600px;position:absolute;right:0;top:60px;text-align:right;font-size:14px;}
#footer_menu li{float:right;margin-left:10px;}
#footer_menu li a{text-decoration:none;}
#donar{position:absolute;top:128px;right:63px;}
#metodo_pago{position:absolute;right:51px;top:245px;}
.header2_2 ul li{float:left;}
#votacion_container{height:450px;}
#votacion_container_left{width:300px;float:left;padding:20px;}
#votacion_container_right{width:612px;float:right;margin-top:20px;}    
#votacion_container_full { margin: 20px 0 0 60px; } 
#votacion_container_right div.marco {float: left; background:url(/img/caja_fotos_home.png) no-repeat; width:204px;height:170px;}
#votacion_container_full div.marco {float:left;background:url(/img/caja_votacion.png) no-repeat; width:248px;height:261px;margin:10px;} 

#votar_button{background:url(/img/btn_invitar_votacion.png) no-repeat;width:257px;height:40px;padding:5px;margin-top:25px;}
#votar_button a{color:#FFF;text-decoration:none;}
#votacion_container_left{line-height:1.4em;font-size:0.9em;}
#votacion_container_left p{margin-bottom:1em;}

.clip { position: relative;}   
.clip p {color: #fff; margin-left:15px; font-size: 85%;}
.clipwrapper_flicker{position:relative;width:58px;height:58px;}
.clip_flicker{position:absolute;clip:rect(0px 58px 58px 0px);top:0px;left:0px;}
.clipwrapper_flicker img{height: 58px;}
#votacion_container_right .plaza_img {background:#fff;padding:3px; position: absolute;top:4px;left:11px;}     
#votacion_container_right .plaza_img_inner img{width:175px;height:145px;padding:0; margin:0;}
#votacion_container_right .plaza_thumb img { width: 45px; height:45px;padding:0; margin:0;}   
#votacion_container_right .plaza_thumb { float:right;margin-right:10px;}
#votacion_container_full .plaza_img {background:#fff;padding:3px; position: absolute;top:45px;left:11px;}     
#votacion_container_full .plaza_img_inner img{width:220px;height:165px;padding:0; margin:0;}
#votacion_container_full .plaza_thumb img { width: 45px; height:45px;padding:0; margin:0;}   
#votacion_container_full .plaza_thumb { float:right;margin-right:10px;}  
.vote_box { background:#83cdf4;width:179px;height:140px;top:5px;left:11px;padding:5px 2px;;position:absolute;}  
.vote_dialog { background:url(/img/vote_bubble.png) no-repeat;height: 57px; padding:5px; font-size:12px }
.vote_dialog a {color: #333; font-weight:bold; font-size:125%;display:block;}                     
.vote_form { position: relative;}
.vote_form label { position:absolute;top:5px;left:5px;color: #333;font-size:14px;}    
.vote_form div.input input { width:165px;font:14px;color:#333;}    
.vote_bottom { border: 1px solid #666;clear:both;}
/* Forms */
div.input{}
div.input label{font-weight:bold;width:140px;display:block;}
div.input input{width:220px;font:11px verdana,sans-serif;color:#443;padding:3px;margin-bottom:4px;}
div.input textarea{width:350px;height:100px;}
div.required label:after{content:'*';color:red;}
div.error input{padding-right:5px;background:red url(/img/exclamation.png) no-repeat 100% 50%;}
/** menu **/ 
#top_menu{width:750px;margin:0 auto;padding:10px;}
#top_menu img{padding:0 10px;}
ul.menu{font-family:Helvetica;display:block;list-style:none;height:32px;}
ul.menu li{float:left;border-left:1px solid #999;margin-left:5px;}
ul.menu li.last{border-right:1px solid #999;}
ul.menu li a{color:#006699;text-decoration:none;display:inline-block;text-align:center;padding:10px 20px;}
ul.menu li a:hover{color:#0099ff;text-decoration:underline;}
/** END OF HEADER **/ 
#logos h2{font-size:15px;color:#333;padding-bottom:5px;border-bottom:1px dotted #333;}
#logos img{padding:15px;}   
.social_connect {height: 25px;margin-top:5px;padding: 5px 5px;color: #fff;font-weight:bold;}  
.social_icons li { float:left;margin-left:10px;}     

.contact { width: 62px; height: 146px; position: fixed; right: 0; top: 100px;background:url(/img/contact_us.png) no-repeat;}
.contact a { width: 50px; height: 145px; display: block;} 
.contact a span { display: none;}      


.ui-effects-transfer { border: 1px dashed #333; }

